{% extends 'base.html' %} 

{% block content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">FLISoL 2019</h1>
        <p class="lead">
            Projeto desenvolvimento para a oficina "Transforme suas ideias em softwares
            com Python e Django", ministradada no FLISoL 2019 em Quixadá - CE.
        </p>
        <hr class="my-4" />
        <p>
            O código fonte está disponível em
            <a href="https://github.com/robsonsilv4/oficina-flisol-2019"
            >github.com/robsonsilv4/oficina-flisol-2019</a
            >.
        </p>
    </div>
{% endblock %}
